asgiref==3.3.1
autopep8==1.5.4
dj-database-url==0.5.0
Django==3.1.6
django-heroku==0.3.1
psycopg2==2.8.6
pycodestyle==2.6.0
pyperclip==1.8.1
pytz==2021.1
sqlparse==0.4.1
toml==0.10.2
whitenoise==5.2.0
yapf==0.30.0
