{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="wrapper home-wrapper">

    <div id="post_container">
        <div id="create_post_tabs">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-post-tab" data-toggle="tab" href="#nav-post" role="tab"
                    aria-controls="nav-post" aria-selected="true">Post</a>
                <a class="nav-item nav-link" id="nav-image-tab" data-toggle="tab" href="#nav-image" role="tab"
                    aria-controls="nav-image" aria-selected="false">Image</a>
                <a class="nav-item nav-link" id="nav-commonmark-tab" data-toggle="tab" href="#nav-commonmark" role="tab"
                    aria-controls="nav-commonmark" aria-selected="false">Commonmark</a>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-post" role="tabpanel" aria-labelledby="nav-post-tab">
                    <textarea class="post-textarea"></textarea>
                    <button class="btn btn-light" type="submit">Send</button>
                </div>
                <div class="tab-pane fade" id="nav-image" role="tabpanel" aria-labelledby="nav-image-tab">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="post_image">
                        <label class="custom-file-label" for="post_image" aria-describedby="post_image">Choose an
                            image</label>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-commonmark" role="tabpanel" aria-labelledby="nav-commonmark-tab">
                    commonmark</div>
            </div>
        </div>
    </div>
    <div class="stream">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-stream-tab" data-toggle="tab" href="#nav-stream" role="tab"
                aria-controls="nav-stream" aria-selected="true">Stream</a>
            <a class="nav-item nav-link" id="nav-github-tab" data-toggle="tab" href="#nav-github" role="tab"
                aria-controls="nav-github" aria-selected="false">Github</a>
        </div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-stream" role="tabpanel" aria-labelledby="nav-stream-tab">
                stream
            </div>
            <div class="tab-pane fade" id="nav-github" role="tabpanel" aria-labelledby="nav-github-tab">
                github
            </div>
        </div>
    </div>
</div>
</div>
{% endif %}
<!-- Local JS -->

{% endblock %}